.root {
    -fx-background-color: #1E232A;
}

Label {
    -fx-background-color: #505050;
    -fx-text-fill: #00FF00;
}
#volumeButtons {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
}
#muteButton:selected {
    -fx-background-color: #000000;
}
#buttonColumn1:pressed {
    -fx-background-color: #70102A;
}
#buttonColumn1 {
    -fx-background-color: #FF3070;
}
#buttonColumn2:pressed {
    -fx-background-color: #703000;
}
#buttonColumn2 {
    -fx-background-color: #FF9000;
}
#buttonColumn3:pressed {
    -fx-background-color: #707010;
}
#buttonColumn3 {
    -fx-background-color: #FFFF30;
}
#buttonColumn4:pressed {
    -fx-background-color: #107010;
}
#buttonColumn4 {
    -fx-background-color: #30FF40;
}
#buttonColumn5:pressed {
    -fx-background-color: #004070;
}
#buttonColumn5 {
    -fx-background-color: #00A0FF;
}
#buttonColumn6:selected {
    -fx-background-color: #400070;
    -fx-text-fill: #FFFFFF;
}
#buttonColumn6 {
    -fx-background-color: #A000FF;
    -fx-text-fill: #FFFFFF;
}